@{
    ViewBag.Title = "Giới thiệu";
}

<!--== Start Page Header Area Wrapper ==-->
<div class="page-header-area bg-img" data-bg-img="/Content/img/photos/bg-02.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="page-header-content">
                    <nav class="breadcrumb-area">
                        <ul class="breadcrumb">
                            <li><a href="/">Trang chủ</a></li>
                            <li class="breadcrumb-sep"><i class="fa fa-angle-right"></i></li>
                            <li>Giới thiệu</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Page Header Area Wrapper ==-->

<section class="about-area about-page-area">
    <div class="container">
        <div class="row about-page-wrap">
            <div class="col-md-6">
                <div class="about-content pb-125">
                    <h3 class="title">Về chúng tôi</h3>
                    <p id="txtAboutUs">
                        Chào bạn, mình là Phạm Ngọc Hiếu, chuyên gia trong ngành làm đẹp và giáo dục.
                        Mình đam mê chăm sóc da, trang điểm, và chăm sóc tóc,
                        đồng thời cũng tích cực đào tạo và chia sẻ kiến thức trong ngành này.
                        Mục tiêu của mình là giúp cả người mới và chuyên gia nâng cao kỹ năng và cập nhật xu hướng mới.
                        Nếu bạn cần tư vấn về làm đẹp hoặc đào tạo, hãy liên hệ với mình nhé!
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-thumb">
                    <img src="../../Content/img2/people.jpg" class="img" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-area about-page-area">
    <div class="container pt-10">
        <div class="row about-page-wrap">
            <div class="col-md-6">
                <div class="about-thumb">
                    <img src="../../Content/img2/people.jpg" class="img" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-content pb-125">
                    <h3 class="title">Bác sĩ tư vấn</h3>
                    <p id="txtDoctor">
                        Chào bạn, mình là Phạm Ngọc Hiếu, chuyên gia trong ngành làm đẹp và giáo dục.
                        Mình đam mê chăm sóc da, trang điểm, và chăm sóc tóc,
                        đồng thời cũng tích cực đào tạo và chia sẻ kiến thức trong ngành này.
                        Mục tiêu của mình là giúp cả người mới và chuyên gia nâng cao kỹ năng và cập nhật xu hướng mới.
                        Nếu bạn cần tư vấn về làm đẹp hoặc đào tạo, hãy liên hệ với mình nhé!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
