@{
    ViewBag.Title = "About";
}


<div id="siteAbout" style="margin-top: 12em">
    <div class="container">
        <div>
            <label class="booking_service">Về chúng tôi</label>
            <div class="logo_service">
                <p class="dash_b_left"></p>
                <img src="../../Content/img/logo-1.png" />
                <p class="dash_b_right"></p>
            </div>
        </div>

        <div>
            <div class="" style="height: 300px; width: 300px; background-color: #EFB33F"></div>
            <div class="" style="height: 300px; width: 300px; background-color: red"></div>
        </div>
    </div>
</div>
