@{
    ViewBag.Title = "Contact";
}

<div class="service" style="margin-top: 12em">
    <div class="container">
        <div class="section-header" style="margin-bottom: 20px">
            <h2>Đặt lịch</h2>
            <div class="line-container">
                <div class="line"></div>
                <img src="../../Content/img/logo-1.png" />
                <div class="line"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 pppp banner_service">
                <img src="../../Content/img/banner-1.jpg" />
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <form class="main_form form_service">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <label class="booking_service">Chọn dịch vụ</label>
                            <div class="logo_service">
                                <p class="dash_b_left"></p>
                                <img src="../../Content/img/logo-1.png" />
                                <p class="dash_b_right"></p>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <input class="form-control" placeholder="Họ tên" type="text" name="Name">
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <input class="form-control" placeholder="Điện thoại" type="text" name="Phone">
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <select name="" id="service" class="form-control">
                                <option value="">Dịch vụ cần làm</option>
                                <option value="1">Test 1</option>
                                <option value="2">Test 2</option>
                                <option value="3">Test 3</option>
                            </select>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <button class="send">Đăng ký</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>