<link href="../../Content/css/Views/Home.css" rel="stylesheet" />
<script src="../../Scripts/Views/Home.js"></script>
<script>
    jQuery.noConflict();
    jQuery(document).ready(function ($) {
        ShowPopup()
        LoadData()
        ProductSlider()
    });
</script>
<!--== Start Hero Area Wrapper ==-->
<section class="home-slider-area">
    <div class="swiper-container swiper-pagination-style dots-bg-light home-slider-container default-slider-container">
        <div class="swiper-wrapper home-slider-wrapper slider-default">
            <div class="swiper-slide">
                <div class="slider-content-area" data-bg-img="/Content/img/slider/slider-04.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-10 col-sm-6 col-md-5">
                                <div class="slider-content slider-content-light animate-pulse">
                                    <h5 class="sub-title transition-slide-0">A SKINCARE ESSENTIAL</h5>
                                    <h2 class="title transition-slide-1 mb-0"><span class="font-weight-400">100% NATURAL</span></h2>
                                    <h2 class="title transition-slide-2">FACIAL OILS</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider-content-area" data-bg-img="/Content/img/slider/slider-05.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-10 col-sm-6 col-md-5">
                                <div class="slider-content slider-content-light animate-flipInX">
                                    <h5 class="sub-title transition-slide-0">ONE STEP MAXI BRUSH</h5>
                                    <h2 class="title transition-slide-1 mb-0"><span class="font-weight-400">GOLDEN ROSE</span></h2>
                                    <h2 class="title transition-slide-2">RICH COLOUR</h2>
                                    <a class="btn-slide transition-slide-3" href="#/">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--== Add Swiper Pagination ==-->
        <div class="swiper-pagination"></div>
    </div>
</section>
<!--== End Hero Area Wrapper ==-->
<!--== Start Product Area Wrapper ==-->
<section>
    <div class="container pt-30 pt-sm-15 pb-15 pb-lg-5">
        <div class="row">
            <div class="col-12">
                <div class="images-col3-slider owl-carousel owl-theme">
                    <div class="item">
                        <div class="thumb thumb-scale-hover-style">
                            <a href="single-product.html">
                                <img src="../../Content/img/shop/banner/03.jpg" alt="Image-HasTech" class="hover-img">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb thumb-scale-hover-style">
                            <a href="single-product.html">
                                <img src="../../Content/img/shop/banner/04.jpg" alt="Image-HasTech" class="hover-img">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb thumb-scale-hover-style">
                            <a href="single-product.html">
                                <img src="../../Content/img/shop/banner/05.jpg" alt="Image-HasTech" class="hover-img">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== End Product Area Wrapper ==-->
<!--== Start Product Area Wrapper ==-->
<section class="product-area" style="background-image: url(../../Content/img2/bg-1.jpg)">
    <div class="container pb-lg-45">
        <div class="row">
            <div class="col-12">
                <div class="product-slider owl-carousel owl-theme item-service" id="listBox1"></div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-12">
                <div class="product-slider owl-carousel owl-theme item-service" id="listBox2"></div>
            </div>
        </div>
    </div>
</section>
<!--== End Product Area Wrapper ==-->
<section class="pt-10">
    <div class="container pt-5 pb-45">
        <div class="row">
            <div class="col-12">
                <div class="thumb thumb-scale-hover-style">
                    <a href="single-product.html"><img src="../../Content/img/shop/banner/06.jpg" alt="Image-HasTech" class="hover-img"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Start Divider Area Wrapper ==-->
<section class="divider-area divider-product-discount-area bg-img" data-bg-img="/Content/img/photos/bg-01.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="divider-style2-wrap">
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="divider-content">
                                <h5 class="sub-title">NATURAL SKINCARE</h5>
                                <h2 class="title">40% Off</h2>
                                <p>No Parabens. No Sulfates. No Compromises. Shop Clean Beauty.</p>
                                <div class="ht-countdown ht-countdown-style2 mb-45 d-block" data-date="10/24/2023"></div>
                                <a class="btn-theme btn-white" href="shop.html">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== End Divider Area Wrapper ==-->
<!--== Start Product Area Wrapper ==-->
<section>
    <div class="container pt-95 pb-95 pt-lg-70 pb-lg-70">
        <div class="row">
            <div class="col-12">
                <div class="thumb thumb-scale-hover-style">
                    <a href="single-product.html"><img src="../../Content/img/shop/banner/06.jpg" alt="Image-HasTech" class="hover-img"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== End Product Area Wrapper ==-->

@Html.Partial("_ShowPopup")