<link href="../../Content/css/Views/Home.css" rel="stylesheet" />

<script src="../../Scripts/Views/Home.js"></script>

<main class="main-content">
    <!--== Start Hero Area Wrapper ==-->
    <section class="home-slider-area">
        <div class="swiper-container swiper-pagination-style dots-bg-light home-slider-container default-slider-container">
            <div class="swiper-wrapper home-slider-wrapper slider-default">
                <div class="swiper-slide">
                    <div class="slider-content-area" data-bg-img="/Content/img/slider/slider-04.jpg">
                        <div class="container">
                            <div class="row">
                                <div class="col-10 col-sm-6 col-md-5">
                                    <div class="slider-content slider-content-light animate-pulse">
                                        <h5 class="sub-title transition-slide-0">A SKINCARE ESSENTIAL</h5>
                                        <h2 class="title transition-slide-1 mb-0"><span class="font-weight-400">100% NATURAL</span></h2>
                                        <h2 class="title transition-slide-2">FACIAL OILS</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-content-area" data-bg-img="/Content/img/slider/slider-05.jpg">
                        <div class="container">
                            <div class="row">
                                <div class="col-10 col-sm-6 col-md-5">
                                    <div class="slider-content slider-content-light animate-flipInX">
                                        <h5 class="sub-title transition-slide-0">ONE STEP MAXI BRUSH</h5>
                                        <h2 class="title transition-slide-1 mb-0"><span class="font-weight-400">GOLDEN ROSE</span></h2>
                                        <h2 class="title transition-slide-2">RICH COLOUR</h2>
                                        <a class="btn-slide transition-slide-3" href="#/">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--== Add Swiper Pagination ==-->
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <!--== End Hero Area Wrapper ==-->
    <!--== Start Product Area Wrapper ==-->
    <section>
        <div class="container pt-30 pt-sm-15 pb-15 pb-lg-5">
            <div class="row">
                <div class="col-12">
                    <div class="images-col3-slider owl-carousel owl-theme">
                        <div class="item">
                            <div class="thumb thumb-scale-hover-style">
                                <a href="single-product.html">
                                    <img src="../../Content/img/shop/banner/03.jpg" alt="Image-HasTech" class="hover-img">
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb thumb-scale-hover-style">
                                <a href="single-product.html">
                                    <img src="../../Content/img/shop/banner/04.jpg" alt="Image-HasTech" class="hover-img">
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb thumb-scale-hover-style">
                                <a href="single-product.html">
                                    <img src="../../Content/img/shop/banner/05.jpg" alt="Image-HasTech" class="hover-img">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Product Area Wrapper ==-->
    <!--== Start Product Area Wrapper ==-->
    <section class="product-area" style="background-image: url(../../Content/img2/bg-1.jpg)">
        <div class="container pb-lg-45">
            <div class="row">
                <div class="col-12">
                    <div class="product-slider owl-carousel owl-theme item-service" id="listBox1"></div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-12">
                    <div class="product-slider owl-carousel owl-theme item-service" id="listBox2"></div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Product Area Wrapper ==-->
    <section class="pt-10">
        <div class="container pt-5 pb-45">
            <div class="row">
                <div class="col-12">
                    <div class="thumb thumb-scale-hover-style">
                        <a href="single-product.html"><img src="../../Content/img/shop/banner/06.jpg" alt="Image-HasTech" class="hover-img"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home-slider-area">
        <div class="container swiper-container swiper-pagination-style dots-bg-light home-slider-container default-slider-container">
            <div class="swiper-wrapper home-slider-wrapper slider-default">
                <div class="swiper-slide">
                    <div class="slider-content-area" data-bg-img="/Content/img/slider/slider-04.jpg">
                        <div class="container">
                            <div class="row">
                                <div class="col-10 col-sm-6 col-md-5">
                                    <div class="slider-content slider-content-light animate-pulse">
                                        <h5 class="sub-title transition-slide-0">A SKINCARE ESSENTIAL</h5>
                                        <h2 class="title transition-slide-1 mb-0"><span class="font-weight-400">100% NATURAL</span></h2>
                                        <h2 class="title transition-slide-2">FACIAL OILS</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-content-area" data-bg-img="/Content/img/slider/slider-05.jpg">
                        <div class="container">
                            <div class="row">
                                <div class="col-10 col-sm-6 col-md-5">
                                    <div class="slider-content slider-content-light animate-flipInX">
                                        <h5 class="sub-title transition-slide-0">ONE STEP MAXI BRUSH</h5>
                                        <h2 class="title transition-slide-1 mb-0"><span class="font-weight-400">GOLDEN ROSE</span></h2>
                                        <h2 class="title transition-slide-2">RICH COLOUR</h2>
                                        <a class="btn-slide transition-slide-3" href="#/">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--== Add Swiper Pagination ==-->
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <!--== Start Đăng ký dịch vụ ==-->
    <section class="product-area">
        <div class="container pt-5 pb-45">
            <div class="row div_RegService">
                <div class="col-lg-4">
                    <div class="thumb thumb-scale-hover-style">
                        <a href="single-product.html"><img src="../../Content/img/photos/divider-01.jpg" alt="Image-HasTech" class="hover-img"></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="regService">
                        <div class="regService-body" data-margin-top="14">
                            <div class="personal-register">
                                <div class="regService-form">
                                    <form action="#">
                                        <div class="form-group row">
                                            <div class="col-md-10">
                                                <input id="f_name" class="form-control" placeholder="Họ tên" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-10">
                                                <input id="frm-phone" placeholder="Số điện thoại" class="form-control" type="tel">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-10">
                                                <select id="frm_state" class="form-select form-control" aria-label="-- please choose --">
                                                    <option disabled selected>Dịch vụ cần làm</option>
                                                    <option value="1">Dịch vụ 1</option>
                                                    <option value="2">Dịch vụ 2</option>
                                                    <option value="3">Dịch vụ 3</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-10">
                                                <input id="frm_date" placeholder="Ngày đăng ký" class="form-control" type="date" />
                                            </div>
                                        </div>
                                        <div class="form-group row btn-regService">
                                            <div class="col-md-10 text-center">
                                                <button type="submit" class="btn-submit">Đăng ký</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Đăng ký dịch vụ ==-->
    <!--== Start Divider Area Wrapper ==-->
    <section class="divider-area divider-product-discount-area bg-img" data-bg-img="/Content/img/photos/bg-01.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="divider-style2-wrap">
                        <div class="row">
                            <div class="col-xl-4">
                                <div class="divider-content">
                                    <h5 class="sub-title">NATURAL SKINCARE</h5>
                                    <h2 class="title">40% Off</h2>
                                    <p>No Parabens. No Sulfates. No Compromises. Shop Clean Beauty.</p>
                                    <div class="ht-countdown ht-countdown-style2 mb-45 d-block" data-date="10/24/2023"></div>
                                    <a class="btn-theme btn-white" href="shop.html">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Divider Area Wrapper ==-->
    <!--== Start Testimonial Area Wrapper ==-->
    <section class="testimonial-area">
        <div class="container pt-95 pb-95 pt-lg-70 pb-lg-70">
            <div class="row">
                <div class="col-sm-8 m-auto">
                    <div class="section-title text-center">
                        <h2 class="title">Client Testimonials</h2>
                        <div class="desc">
                            <p>What our happy customers says !</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="testimonials-slider testi-first-active owl-carousel owl-theme">
                        <div class="item">
                            <!--== Start Testimonial Item ==-->
                            <div class="testimonial-item testi-height-style matchHeight">
                                <div class="testi-inner-content">
                                    <div class="testi-author">
                                        <div class="testi-thumb">
                                            <img src="../../Content/img/testimonial/01.png" alt="Image-HasTech" class="img">
                                        </div>
                                        <div class="testi-info">
                                            <span class="name">orando BLoom</span>
                                            <span class="email">demo@example.com</span>
                                        </div>
                                    </div>
                                    <div class="testi-content">
                                        <p>All Perfect !! I have three sites with magento , this theme is the best !! Excellent support , advice theme installation package , sorry for English, are Italian but I had no problem !! Thank you !</p>
                                        <div class="testi-info">
                                            <span class="name">orando BLoom</span>
                                            <span class="email">demo@example.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--== End Testimonial Item ==-->
                        </div>
                        <div class="item">
                            <!--== Start Testimonial Item ==-->
                            <div class="testimonial-item testi-height-style matchHeight">
                                <div class="testi-inner-content">
                                    <div class="testi-author">
                                        <div class="testi-thumb">
                                            <img src="../../Content/img/testimonial/02.png" alt="Image-HasTech" class="img">
                                        </div>
                                        <div class="testi-info">
                                            <span class="name">orando BLoom</span>
                                            <span class="email">demo@example.com</span>
                                        </div>
                                    </div>
                                    <div class="testi-content">
                                        <p>All Perfect !! I have three sites with magento , this theme is the best !! Excellent support , advice theme installation package , sorry for English, are Italian but I had no problem !! Thank you !</p>
                                        <div class="testi-info">
                                            <span class="name">orando BLoom</span>
                                            <span class="email">demo@example.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--== End Testimonial Item ==-->
                        </div>
                        <div class="item">
                            <!--== Start Testimonial Item ==-->
                            <div class="testimonial-item testi-height-style matchHeight">
                                <div class="testi-inner-content">
                                    <div class="testi-author">
                                        <div class="testi-thumb">
                                            <img src="../../Content/img/testimonial/01.png" alt="Image-HasTech" class="img">
                                        </div>
                                        <div class="testi-info">
                                            <span class="name">orando BLoom</span>
                                            <span class="email">demo@example.com</span>
                                        </div>
                                    </div>
                                    <div class="testi-content">
                                        <p>All Perfect !! I have three sites with magento , this theme is the best !! Excellent support , advice theme installation package , sorry for English, are Italian but I had no problem !! Thank you !</p>
                                        <div class="testi-info">
                                            <span class="name">orando BLoom</span>
                                            <span class="email">demo@example.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--== End Testimonial Item ==-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Testimonial Area Wrapper ==-->
    <!--== Start Product Area Wrapper ==-->
    <section>
        <div class="container pt-0 pb-0">
            <div class="row">
                <div class="col-12">
                    <div class="thumb thumb-scale-hover-style">
                        <a href="single-product.html"><img src="../../Content/img/shop/banner/06.jpg" alt="Image-HasTech" class="hover-img"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Product Area Wrapper ==-->
    <!--== Start Blog Area Wrapper ==-->
    <section class="blog-area">
        <div class="container pt-95 pb-100 pt-lg-70 pb-lg-70">
            <div class="row">
                <div class="col-sm-8 m-auto">
                    <div class="section-title text-center">
                        <h2 class="title">Latest Blogs</h2>
                        <div class="desc">
                            <p>Present posts in a best way to highlight interesting moments of your blog.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="blog-slider owl-carousel owl-theme">
                        <div class="item">
                            <!--== Start Blog Item ==-->
                            <div class="post-item">
                                <div class="inner-content">
                                    <div class="thumb">
                                        <a href="blog.html"><img src="../../Content/img/blog/01.jpg" class="img" alt="Image-HasTech"></a>
                                    </div>
                                    <div class="content">
                                        <a class="category" href="blog.html">Fashion</a>
                                        <h4 class="title"><a href="single-blog.html">This is Secound Post For XipBlog</a></h4>
                                        <div class="meta">
                                            <span>Posted by</span>
                                            <a class="author" href="blog.html">Demo Posthemes</a>
                                            <a class="date" href="blog.html">Sep 26TH, 2020</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--== End Blog Item ==-->
                        </div>
                        <div class="item">
                            <!--== Start Blog Item ==-->
                            <div class="post-item">
                                <div class="inner-content">
                                    <div class="thumb">
                                        <a href="blog.html"><img src="../../Content/img/blog/02.jpg" class="img" alt="Image-HasTech"></a>
                                    </div>
                                    <div class="content">
                                        <a class="category" href="blog.html">Fashion</a>
                                        <h4 class="title"><a href="single-blog.html">This is Secound Post For XipBlog</a></h4>
                                        <div class="meta">
                                            <span>Posted by</span>
                                            <a class="author" href="blog.html">Demo Posthemes</a>
                                            <a class="date" href="blog.html">Sep 26TH, 2020</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--== End Blog Item ==-->
                        </div>
                        <div class="item">
                            <!--== Start Blog Item ==-->
                            <div class="post-item">
                                <div class="inner-content">
                                    <div class="thumb">
                                        <a href="blog.html"><img src="../../Content/img/blog/03.jpg" class="img" alt="Image-HasTech"></a>
                                    </div>
                                    <div class="content">
                                        <a class="category" href="blog.html">Fashion</a>
                                        <h4 class="title"><a href="single-blog.html">This is Secound Post For XipBlog</a></h4>
                                        <div class="meta">
                                            <span>Posted by</span>
                                            <a class="author" href="blog.html">Demo Posthemes</a>
                                            <a class="date" href="blog.html">Sep 26TH, 2020</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--== End Blog Item ==-->
                        </div>
                        <div class="item">
                            <!--== Start Blog Item ==-->
                            <div class="post-item">
                                <div class="inner-content">
                                    <div class="thumb">
                                        <a href="blog.html"><img src="../../Content/img/blog/04.jpg" class="img" alt="Image-HasTech"></a>
                                    </div>
                                    <div class="content">
                                        <a class="category" href="blog.html">Fashion</a>
                                        <h4 class="title"><a href="single-blog.html">This is Secound Post For XipBlog</a></h4>
                                        <div class="meta">
                                            <span>Posted by</span>
                                            <a class="author" href="blog.html">Demo Posthemes</a>
                                            <a class="date" href="blog.html">Sep 26TH, 2020</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--== End Blog Item ==-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Blog Area Wrapper ==-->
    <!--== Start Contact Info Area Wrapper ==-->
    <section class="bg-black-color">
        <div class="container pt-35 pb-40">
            <div class="row">
                <div class="col-12">
                    <div class="contact-info contact-info-static">
                        <div class="row">
                            <div class="col-border col-12 col-md-4 col-sm-6 border-0">
                                <div class="info-item">
                                    <div class="icon-box">
                                        <i class="icon las la-phone-volume"></i>
                                    </div>
                                    <p>1800.3687.6886 M-F 9AM-6PM</p>
                                </div>
                            </div>
                            <div class="col-border col-12 col-md-4 col-sm-6 mt-xs-35">
                                <div class="info-item">
                                    <div class="icon-box">
                                        <i class="icon las la-envelope"></i>
                                    </div>
                                    <p>demo@example.com</p>
                                </div>
                            </div>
                            <div class="col-border col-12 col-md-4 col-sm-12 mt-sm-35">
                                <div class="info-item">
                                    <div class="icon-box">
                                        <i class="icon lab la-facebook-messenger"></i>
                                    </div>
                                    <p>Virtual Chat 24/7 | Live M-F 9am-6pm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Contact Info Area Wrapper ==-->
    <!--== Start Divider Area Wrapper ==-->
    <section class="divider-area">
        <div class="container pt-90 pt-lg-70 pb-lg-60">
            <div class="row">
                <div class="col-12">
                    <div class="divider-style-wrap">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="divider-content text-center">
                                    <h4 class="title hidden-sm-down">Let’s Connect On Social</h4>
                                    <h4 class="title2 hidden-md-up collapsed" data-bs-toggle="collapse" data-bs-target="#dividerId-1">Let’s Connect On Social</h4>
                                    <div id="dividerId-1" class="collapse">
                                        <div class="social-icons">
                                            <a href="#/"><i class="la la-facebook"></i></a>
                                            <a href="#/"><i class="la la-twitter"></i></a>
                                            <a href="#/"><i class="la la-youtube"></i></a>
                                            <a href="#/"><i class="la la-instagram"></i></a>
                                        </div>
                                        <p class="mb-sm-25">Follow us on your favorite platforms. Check out new launch teasers, how-to videos, and share your favorite looks.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="divider-content text-center">
                                    <h4 class="title hidden-sm-down" data-margin-bottom="32">Sign Up For Newsletter</h4>
                                    <h4 class="title2 hidden-md-up collapsed" data-bs-toggle="collapse" data-bs-target="#dividerId-2">Sign Up For Newsletter</h4>
                                    <div id="dividerId-2" class="collapse">
                                        <div class="newsletter-content-wrap">
                                            <div class="newsletter-form">
                                                <form>
                                                    <input type="email" class="form-control" placeholder="Your email address">
                                                    <button class="btn btn-submit" type="button">Sign up</button>
                                                </form>
                                            </div>
                                        </div>
                                        <p>You may unsubscribe at any moment. For that purpose, please find our contact info in the legal notice.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Divider Area Wrapper ==-->
</main>
@Html.Partial("_ShowPopup")