  <!--== Start Footer Area Wrapper ==-->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!--== Start Footer Widget Area ==-->
                <div class="footer-widget-area pb-30">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="widget-item">
                                <div class="about-widget">
                                    <div class="inner-content">
                                        <div class="footer-logo">
                                            <a href="index.html">
                                                <img class="logo-light" src="../../Content/img/logo-light.png" alt="Logo" />
                                            </a>
                                        </div>
                                        <p>Location: 4710-4890 Breckỉnidge St, Fayettevill USA</p>
                                    </div>
                                    <div class="widget-desc">
                                        <p>We are a team of designers and developers that create high quality Magento, Prestashop, Opencart.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="widget-item">
                                <div class="widget-menu-wrap">
                                    <ul class="nav-menu">
                                        <li><a href="#/">Delivery</a></li>
                                        <li><a href="#/">Legal Notice</a></li>
                                        <li><a href="about-us.html">About us</a></li>
                                        <li><a href="#/">Secure payment</a></li>
                                        <li><a href="contact.html">Contact us</a></li>
                                        <li><a href="#/">Sitemap</a></li>
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="my-account.html">My account</a></li>
                                        <li><a href="shop.html">Stores</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--== End Footer Widget Area ==-->
            </div>
        </div>
    </div>
    <!--== Start Footer Bottom Area ==-->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p class="copyright">Copyright © @DateTime.Now.Year All Rights Reserved</p>
                </div>
                <div class="col-lg-6">
                    <div class="payment">
                        <img src="../../Content/img/photos/payment.png" alt="Payment">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Footer Bottom Area ==-->
</footer>
<!--== End Footer Area Wrapper ==-->