  <!--== Start Footer Area Wrapper ==-->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!--== Start Footer Widget Area ==-->
                <div class="footer-widget-area pb-30">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="widget-item">
                                <div class="about-widget">
                                    <div class="inner-content" style="min-width:max-content">
                                        <div class="footer-logo">
                                            <span class="logo">
                                                <img class="logo-main" src="../../Content/img2/logo.png" width="60" height="60" alt="Logo" />
                                                <span class="logo-name pl-5" style="color: #FBB304">Hiếu Phạm Beauty & Acedamy</span>
                                            </span>
                                        </div>
                                        <p>
                                            Địa chỉ: 305 Tây Thạnh, Tân Phú, Hồ Chí Minh, Việt Nam
                                            <br />
                                            Số điện thoại: +84 983.493.538
                                            <br />
                                            Fanpage: <a href="https://www.facebook.com/hieuphambeauty" target="_blank">hieuphambeauty</a>
                                        </p>
                                        <div class="widget-desc">
                                            <p style="font-style: italic; color: #FBB304">
                                                “Chúng tôi không chỉ nâng tầm nhan sắc mà còn mang lại sự tự tin cho bạn,
                                                giúp bạn tự hào với vẻ đẹp của chính mình.”
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="widget-item">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.006225997821!2d106.62069939999999!3d10.810834500000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752b52a85e04b1%3A0x3490a915b5f2c65b!2zSGnhur91IFBo4bqhbSBCZWF1dHkgJiBBY2FkZW15!5e0!3m2!1svi!2s!4v1728164272143!5m2!1svi!2s" width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <!--== End Footer Widget Area ==-->
            </div>
        </div>
    </div>
    <!--== Start Footer Bottom Area ==-->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="copyright text-center">Copyright © @DateTime.Now.Year All Rights Reserved</p>
            </div>
        </div>
    </div>
    <!--== End Footer Bottom Area ==-->
</footer>
<!--== End Footer Area Wrapper ==-->