  <!--== Start Header Wrapper ==-->
<header class="header-area header-default header-style2">
    <!--== Start Header Middle ==-->
    <div class="header-middle hidden-md-down">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col col-md-12 col-sm-12">
                    <div class="header-logo-area text-center">
                        <a href="/">
                            <span class="logo">
                                <img class="logo-main" src="../../Content/img/logo.jpg" width="60" height="60" alt="Logo" />
                                <span class="logo-name">Hiếu Phạm Beauty & Acedamy</span>
                            </span>
                            <img class="logo-light d-none" src="../../Content/img/logo.jpg" width="60" height="60" alt="Logo" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Header Middle ==-->
    <!--== Start Header Bottom ==-->
    <div class="header-bottom sticky-header hidden-md-down">
        <div class="container">
            <div class="row align-items-center">
                <div class="col col-12 position-relative">
                    <div class="header-align align-default justify-content-center">
                        <div class="header-navigation-area hidden-md-down">
                            <ul class="main-menu nav">
                                <li class="active"><a href="/">Trang chủ</a></li>
                                <li><a href="/Home/About">Giới thiệu</a></li>
                                <li><a href="/Home/Service">Đặt lịch</a></li>
                                <li><a href="#">Khóa học</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Header Bottom ==-->
    <!--== Start Responsive Header ==-->
    <div class="responsive-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <div class="header-item">
                        <button class="btn-menu" type="button"><i class="icon-menu"></i></button>
                    </div>
                </div>
                <div class="col-4">
                    <div class="header-item justify-content-center">
                        <div class="header-logo-area">
                            <a href="/">
                                <img class="logo-main" src="../../Content/img/logo.jpg" width="60" height="60" alt="Logo" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Responsive Header ==-->
</header>
<!--== End Header Wrapper ==-->