 <!--== Start Popup Product  ==-->
<div class="popup-product-quickview">
    <div class="product-single-item">
        <div class="row">
            <div class="col-md-6">
                <div class="regService">
                    <div class="regService-body" data-margin-top="14">
                        <div class="personal-register">
                            <div class="regService-form">
                                <form action="#">
                                    <div class="form-group row">
                                        <div class="col-md-10">
                                            <input id="f_name" class="form-control frm-control" placeholder="Họ tên" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-10">
                                            <input id="frm-phone" placeholder="Số điện thoại" class="form-control frm-control" type="tel">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-10">
                                            <select id="frm_state" class="form-select form-control frm-control" aria-label="Dịch vụ cần làm">
                                                <option disabled selected>Dịch vụ cần làm</option>
                                                <option value="1">Dịch vụ 1</option>
                                                <option value="2">Dịch vụ 2</option>
                                                <option value="3">Dịch vụ 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-10">
                                            <input id="frm_date" placeholder="Ngày đăng ký" class="form-control frm-control" type="date" />
                                        </div>
                                    </div>
                                    <div class="form-group row btn-regService">
                                        <div class="col-md-10 text-center">
                                            <button type="submit" class="btn-submit">Đăng ký</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6">
                <div class="thumb">
                    <img src="../../Content/img/photos/divider-01.jpg" alt="Image-HasTech" class="hover-img" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popup-product-overlay"></div>
<button class="popup-product-close"><i class="la la-close"></i></button>
<!--== End Popup Product  ==-->